In [2]:
import pandas as pd

In [18]:
file_path = "sheet.csv"

In [19]:
df = pd.read_csv("C:/Users/tanis/OneDrive/Documents/sheet.csv")

In [55]:
df.head()

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,Date,Time Between Shifts,Shift Duration
1463,WFS000588,Active,2023-09-13 10:40:00,2023-09-13 15:00:00,4:20,09/10/2023,09/23/2023,"AGeX, WaMhaW REGerM PeWa",588,2023-09-13,NaT,4.333333
1464,WFS000588,Active,2023-09-13 15:30:00,2023-09-13 20:07:00,4:37,09/10/2023,09/23/2023,"AGeX, WaMhaW REGerM PeWa",588,2023-09-13,0 days 04:50:00,4.616667
1465,WFS000588,Active,2023-09-18 09:55:00,2023-09-18 13:59:00,4:04,09/10/2023,09/23/2023,"AGeX, WaMhaW REGerM PeWa",588,2023-09-18,4 days 18:25:00,4.066667
1466,WFS000588,Active,2023-09-18 14:29:00,2023-09-18 19:39:00,5:10,09/10/2023,09/23/2023,"AGeX, WaMhaW REGerM PeWa",588,2023-09-18,0 days 04:34:00,5.166667
1467,WFS000588,Active,2023-09-19 10:25:00,2023-09-19 14:30:00,4:05,09/10/2023,09/23/2023,"AGeX, WaMhaW REGerM PeWa",588,2023-09-19,0 days 19:56:00,4.083333

In [54]:
df.tail()

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,Date,Time Between Shifts,Shift Duration
722,WFS000477,Active,2023-09-15 14:30:00,2023-09-15 16:33:00,2:03,09/10/2023,09/23/2023,"ZaCEra, Edward",477,2023-09-15,0 days 03:40:00,2.050000
723,WFS000477,Active,2023-09-17 10:41:00,2023-09-17 15:00:00,4:19,09/10/2023,09/23/2023,"ZaCEra, Edward",477,2023-09-17,1 days 20:11:00,4.316667
724,WFS000477,Active,2023-09-17 15:30:00,2023-09-17 19:39:00,4:09,09/10/2023,09/23/2023,"ZaCEra, Edward",477,2023-09-17,0 days 04:49:00,4.150000
725,WFS000477,Active,2023-09-20 10:40:00,2023-09-20 15:30:00,4:50,09/10/2023,09/23/2023,"ZaCEra, Edward",477,2023-09-20,2 days 19:10:00,4.833333
726,WFS000477,Active,2023-09-20 16:00:00,2023-09-20 17:43:00,1:43,09/10/2023,09/23/2023,"ZaCEra, Edward",477,2023-09-20,0 days 05:20:00,1.716667

In [25]:
df.describe()

       File Number
count  1484.000000
mean    437.658356
std     136.732971
min      54.000000
25%     368.000000
50%     491.000000
75%     546.500000
max     591.000000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1484 entries, 0 to 1483
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Position ID               1484 non-null   object
 1   Position Status           1484 non-null   object
 2   Time                      1474 non-null   object
 3   Time Out                  1470 non-null   object
 4   Timecard Hours (as Time)  1474 non-null   object
 5   Pay Cycle Start Date      1474 non-null   object
 6   Pay Cycle End Date        1474 non-null   object
 7   Employee Name             1484 non-null   object
 8   File Number               1484 non-null   int64
dtypes: int64(1), object(8)
memory usage: 104.5+ KB

# QUES 1

In [40]:
# Here we are converting the date columns to datetime objects

df['Time'] = pd.to_datetime(df['Time'])
df['Time Out'] = pd.to_datetime(df['Time Out'])

In [42]:
# Creating a new column to represent the date of each entry (ignoring the time)
df['Date'] = df['Time'].dt.date

In [43]:
def consecutive_days_worked(employee_data):
    consecutive_days = 0
    prev_date = None

    for date in employee_data['Date']:
        if prev_date is None:
            consecutive_days = 1
        elif (date - prev_date).days == 1:
            consecutive_days += 1
        else:
            consecutive_days = 1
        
        if consecutive_days == 7:
            return True
        
        prev_date = date

    return False

In [56]:
unique_employees = df['Employee Name'].unique()

for employee in unique_employees:
    employee_data = df[df['Employee Name'] == employee]
    if consecutive_days_worked(employee_data):
        print(f"Employee: {employee}, Position: {employee_data['Position ID'].values[0]}")
    else:
        print(f"No 7 consecutive days worked for Employee: {employee}")
        
# there are no employees who has worked for 7 consecutive days in our dataset.

No 7 consecutive days worked for Employee: AGeX, WaMhaW REGerM PeWa
No 7 consecutive days worked for Employee: AXcEcer, ECar JesAs
No 7 consecutive days worked for Employee: AXvarez, Edgar
No 7 consecutive days worked for Employee: ArCeWMa FXEres, JEWaMhaW
No 7 consecutive days worked for Employee: ArEsMigAi, AXexaWder
No 7 consecutive days worked for Employee: ArevaXE, JEse
No 7 consecutive days worked for Employee: Arias, FeXipe
No 7 consecutive days worked for Employee: ArrAMia, AXexis ArMArE
No 7 consecutive days worked for Employee: ArveXE RECerE, AWdres JesAs
No 7 consecutive days worked for Employee: CAevas ZavaXa, JErge XAis
No 7 consecutive days worked for Employee: CEMMa, Jessica
No 7 consecutive days worked for Employee: CErMes, DEAgXas Farid
No 7 consecutive days worked for Employee: CEreira Jr, JEse
No 7 consecutive days worked for Employee: CaMXEck, CEhaCCed
No 7 consecutive days worked for Employee: CaMaXaWE, CeghaW
No 7 consecutive days worked for Employee: CaXdEWadE, AXfEWsE
No 7 consecutive days worked for Employee: CarMer, XyWWeXX DejAaW Jr
No 7 consecutive days worked for Employee: CaraGiXXa, AWMhEWy
No 7 consecutive days worked for Employee: Caxies, MerreXX
No 7 consecutive days worked for Employee: CcRAWWeX, REWaXd Xee
No 7 consecutive days worked for Employee: CeWdEza, Erik
No 7 consecutive days worked for Employee: CeciWa, SiXvesMre Jr
No 7 consecutive days worked for Employee: CercadE, CrisMiaW
No 7 consecutive days worked for Employee: CercadE, SaAX
No 7 consecutive days worked for Employee: CesiWa CEreWE, KeviW FaGiaW
No 7 consecutive days worked for Employee: ChaCErE, HEXger CarMiWez
No 7 consecutive days worked for Employee: CharXes, EGadiah SEraccE Jr
No 7 consecutive days worked for Employee: CiGriaW DeXgadE, EXeWa S
No 7 consecutive days worked for Employee: DECiWgAez AviWa, CigAeX AWgeX
No 7 consecutive days worked for Employee: De XEs SaWMEs, JEseph XAis
No 7 consecutive days worked for Employee: De Xa Cerda, IgWaciE
No 7 consecutive days worked for Employee: DeXgadiXXE REdarMe, ChrisMiaW S
No 7 consecutive days worked for Employee: DiWh, DaA
No 7 consecutive days worked for Employee: DiXXard, JEwaWW Cedric
No 7 consecutive days worked for Employee: Diaz GaXvez, RicardE JEsAe
No 7 consecutive days worked for Employee: EXivares, FeXCaW
No 7 consecutive days worked for Employee: EasMCaW, CichaeX
No 7 consecutive days worked for Employee: ErEpeza, JEvaW
No 7 consecutive days worked for Employee: ErEzcE, SaAX
No 7 consecutive days worked for Employee: ErMiz, AGigaiX
No 7 consecutive days worked for Employee: EsMrada, JEse FeXix
No 7 consecutive days worked for Employee: FaGiaW CiraWda, JEse
No 7 consecutive days worked for Employee: FeXix, XeEWeX
No 7 consecutive days worked for Employee: GAMierrez, PedrE CigAeX
No 7 consecutive days worked for Employee: GAeWdia, JAaW CarXEs
No 7 consecutive days worked for Employee: GaWks, GryaW
No 7 consecutive days worked for Employee: GaXCes, EXias XEpez
No 7 consecutive days worked for Employee: GarWes, JAsMiW
No 7 consecutive days worked for Employee: GrACfieXd, CErWeXiAs
No 7 consecutive days worked for Employee: HAWMer, ViWceWM De PaAX
No 7 consecutive days worked for Employee: HEGGie ErMega, SeGasMiaW CichaeX
No 7 consecutive days worked for Employee: HaCiXMEW, DeaWMe DevEW
No 7 consecutive days worked for Employee: HerCEsiXXE, PedrE
No 7 consecutive days worked for Employee: HerWaWdez SaWchez, AWdrew AWMhEWy
No 7 consecutive days worked for Employee: IWGEAa, JeffersEW
No 7 consecutive days worked for Employee: JerEWiCE CEraXes, CarXEs D
No 7 consecutive days worked for Employee: KaAr, ArviWder
No 7 consecutive days worked for Employee: MAake, CasiaWE
No 7 consecutive days worked for Employee: MAcker, CichaeX
No 7 consecutive days worked for Employee: MErres, EdAardE
No 7 consecutive days worked for Employee: MaXeGi, ACirCasEAd
No 7 consecutive days worked for Employee: Merrazas, GriaW
No 7 consecutive days worked for Employee: MraW, WiXXiaC Ha
No 7 consecutive days worked for Employee: PaAXE, KyXe
No 7 consecutive days worked for Employee: PaXaciE, JEWaMhaW
No 7 consecutive days worked for Employee: PayaW, DaWieX
No 7 consecutive days worked for Employee: PearsEW, DeXviW DevEW
No 7 consecutive days worked for Employee: Perez, EdwiW JiCeWez
No 7 consecutive days worked for Employee: PerkiWs, MarraWce
No 7 consecutive days worked for Employee: RAvaXcaGa GaWAeXEs, DaWieX JesAs
No 7 consecutive days worked for Employee: RECerE, SergiE
No 7 consecutive days worked for Employee: REdrigAez, AXexis GAMierrez
No 7 consecutive days worked for Employee: REdrigAez, GraWdEW AWgeX
No 7 consecutive days worked for Employee: REdrigAez, PedrE
No 7 consecutive days worked for Employee: REdrigAez, XAis
No 7 consecutive days worked for Employee: REiz, CarviW E
No 7 consecutive days worked for Employee: REsaXiaWE, XAis
No 7 consecutive days worked for Employee: RaCEs HerWaWdez, AdieX ECar
No 7 consecutive days worked for Employee: Rivera AXcaWMar, GrayaW
No 7 consecutive days worked for Employee: SEMEsEXis, Richar SMeveW
No 7 consecutive days worked for Employee: SMrickXaWd, REdWey EAgeWe
No 7 consecutive days worked for Employee: SaWchez PaCpXEWa, CrisMiaW AXGerM
No 7 consecutive days worked for Employee: SaWchez, ArWAXfE
No 7 consecutive days worked for Employee: SavaWg, JEhW
No 7 consecutive days worked for Employee: SiWgXeMEW, REger
No 7 consecutive days worked for Employee: SiWgh, CaWpreeM
No 7 consecutive days worked for Employee: SiWgh, JaspreeM
No 7 consecutive days worked for Employee: SiWgh, MarAWpreeM
No 7 consecutive days worked for Employee: SiWgh, PraGhjEM
No 7 consecutive days worked for Employee: Sparks, KeWWeMh
No 7 consecutive days worked for Employee: VaXderraCa CasMiXXE, Escar FaGiaW
No 7 consecutive days worked for Employee: VasqAez, AXfredE
No 7 consecutive days worked for Employee: VasqAez, JEhW SeGasMiaW
No 7 consecutive days worked for Employee: ViXXa, AXfredE AieXXE
No 7 consecutive days worked for Employee: Ware, JEshAa
No 7 consecutive days worked for Employee: WgAyeW, RayCEWd
No 7 consecutive days worked for Employee: WiXGard, Shadrack
No 7 consecutive days worked for Employee: WiXXiaCs, MyrreXX
No 7 consecutive days worked for Employee: XEpes, JerrEd
No 7 consecutive days worked for Employee: XEpez WAWez, XAis
No 7 consecutive days worked for Employee: XariEs XaWdaverde, XAis ErWesME
No 7 consecutive days worked for Employee: XariEs, Cesar GiEvaWWi
No 7 consecutive days worked for Employee: Xee, XaCar
No 7 consecutive days worked for Employee: XiWW, JAsMiW
No 7 consecutive days worked for Employee: ZaCEra, CigAeX
No 7 consecutive days worked for Employee: ZaCEra, Edward

# QUES 2

In [52]:
# Sorting the DataFrame by Employee Name and Time
df.sort_values(['Employee Name', 'Time'], inplace=True)

# Calculating the time between shifts for each employee
df['Time Between Shifts'] = df.groupby('Employee Name')['Time'].diff()

# Filtering the DataFrame to include only rows with time between shifts less than 10 hours but greater than 1 hour
filtered_df = df[(df['Time Between Shifts'] < pd.Timedelta(hours=10)) & (df['Time Between Shifts'] > pd.Timedelta(hours=1))]

# Getting the unique employees who meets the criteria
unique_employees = filtered_df['Employee Name'].unique()

for employee in unique_employees:
    employee_data = filtered_df[filtered_df['Employee Name'] == employee]
    print(f"Employee: {employee}, Position: {employee_data['Position ID'].values[0]}")

Employee: AGeX, WaMhaW REGerM PeWa, Position: WFS000588
Employee: AXcEcer, ECar JesAs, Position: WFS000541
Employee: AXvarez, Edgar, Position: WFS000457
Employee: ArCeWMa FXEres, JEWaMhaW, Position: WFS000584
Employee: ArEsMigAi, AXexaWder, Position: WFS000306
Employee: ArevaXE, JEse, Position: WFS000491
Employee: Arias, FeXipe, Position: WFS000170
Employee: ArrAMia, AXexis ArMArE, Position: WFS000518
Employee: CAevas ZavaXa, JErge XAis, Position: WFS000571
Employee: CEMMa, Jessica, Position: WFS000503
Employee: CErMes, DEAgXas Farid, Position: WFS000495
Employee: CEreira Jr, JEse, Position: WFS000456
Employee: CaMXEck, CEhaCCed, Position: WFS000362
Employee: CaMaXaWE, CeghaW, Position: WFS000153
Employee: CaXdEWadE, AXfEWsE, Position: WFS000463
Employee: CarMer, XyWWeXX DejAaW Jr, Position: WFS000576
Employee: CaraGiXXa, AWMhEWy, Position: WFS000514
Employee: Caxies, MerreXX, Position: WFS000500
Employee: CcRAWWeX, REWaXd Xee, Position: WFS000501
Employee: CeWdEza, Erik, Position: WFS000465
Employee: CeciWa, SiXvesMre Jr, Position: WFS000528
Employee: CercadE, CrisMiaW, Position: WFS000496
Employee: CercadE, SaAX, Position: WFS000446
Employee: CesiWa CEreWE, KeviW FaGiaW, Position: WFS000548
Employee: ChaCErE, HEXger CarMiWez, Position: WFS000509
Employee: CharXes, EGadiah SEraccE Jr, Position: WFS000566
Employee: CiGriaW DeXgadE, EXeWa S, Position: WFS000574
Employee: DECiWgAez AviWa, CigAeX AWgeX, Position: WFS000569
Employee: De XEs SaWMEs, JEseph XAis, Position: WFS000582
Employee: De Xa Cerda, IgWaciE, Position: WFS000318
Employee: DeXgadiXXE REdarMe, ChrisMiaW S, Position: WFS000523
Employee: DiWh, DaA, Position: WFS000268
Employee: DiXXard, JEwaWW Cedric, Position: WFS000519
Employee: Diaz GaXvez, RicardE JEsAe, Position: WFS000551
Employee: EXivares, FeXCaW, Position: WFS000508
Employee: EasMCaW, CichaeX, Position: WFS000414
Employee: ErEpeza, JEvaW, Position: WFS000382
Employee: ErEzcE, SaAX, Position: WFS000442
Employee: ErMiz, AGigaiX, Position: WFS000372
Employee: EsMrada, JEse FeXix, Position: WFS000552
Employee: FaGiaW CiraWda, JEse, Position: WFS000530
Employee: FeXix, XeEWeX, Position: WFS000183
Employee: GAMierrez, PedrE CigAeX, Position: WFS000579
Employee: GAeWdia, JAaW CarXEs, Position: WFS000473
Employee: GaWks, GryaW, Position: WFS000226
Employee: GaXCes, EXias XEpez, Position: WFS000127
Employee: GarWes, JAsMiW, Position: WFS000181
Employee: GrACfieXd, CErWeXiAs, Position: WFS000515
Employee: HAWMer, ViWceWM De PaAX, Position: WFS000538
Employee: HEGGie ErMega, SeGasMiaW CichaeX, Position: WFS000549
Employee: HaCiXMEW, DeaWMe DevEW, Position: WFS000536
Employee: HerCEsiXXE, PedrE, Position: WFS000185
Employee: HerWaWdez SaWchez, AWdrew AWMhEWy, Position: WFS000581
Employee: IWGEAa, JeffersEW, Position: WFS000546
Employee: JerEWiCE CEraXes, CarXEs D, Position: WFS000557
Employee: MAake, CasiaWE, Position: WFS000228
Employee: MAcker, CichaeX, Position: WFS000360
Employee: MaXeGi, ACirCasEAd, Position: WFS000364
Employee: Merrazas, GriaW, Position: WFS000180
Employee: MraW, WiXXiaC Ha, Position: WFS000345
Employee: PaAXE, KyXe, Position: WFS000460
Employee: PaXaciE, JEWaMhaW, Position: WFS000434
Employee: PayaW, DaWieX, Position: WFS000368
Employee: Perez, EdwiW JiCeWez, Position: WFS000517
Employee: PerkiWs, MarraWce, Position: WFS000469
Employee: RAvaXcaGa GaWAeXEs, DaWieX JesAs, Position: WFS000556
Employee: RECerE, SergiE, Position: WFS000420
Employee: REdrigAez, AXexis GAMierrez, Position: WFS000505
Employee: REdrigAez, GraWdEW AWgeX, Position: WFS000550
Employee: REdrigAez, PedrE, Position: WFS000336
Employee: REdrigAez, XAis, Position: WFS000412
Employee: REsaXiaWE, XAis, Position: WFS000065
Employee: RaCEs HerWaWdez, AdieX ECar, Position: WFS000585
Employee: Rivera AXcaWMar, GrayaW, Position: WFS000507
Employee: SMrickXaWd, REdWey EAgeWe, Position: WFS000555
Employee: SaWchez PaCpXEWa, CrisMiaW AXGerM, Position: WFS000521
Employee: SaWchez, ArWAXfE, Position: WFS000577
Employee: SavaWg, JEhW, Position: WFS000393
Employee: SiWgXeMEW, REger, Position: WFS000426
Employee: SiWgh, CaWpreeM, Position: WFS000418
Employee: SiWgh, JaspreeM, Position: WFS000424
Employee: SiWgh, MarAWpreeM, Position: WFS000246
Employee: Sparks, KeWWeMh, Position: WFS000101
Employee: VaXderraCa CasMiXXE, Escar FaGiaW, Position: WFS000573
Employee: VasqAez, AXfredE, Position: WFS000391
Employee: VasqAez, JEhW SeGasMiaW, Position: WFS000578
Employee: ViXXa, AXfredE AieXXE, Position: WFS000583
Employee: WgAyeW, RayCEWd, Position: WFS000589
Employee: WiXXiaCs, MyrreXX, Position: WFS000511
Employee: XEpez WAWez, XAis, Position: WFS000522
Employee: XariEs XaWdaverde, XAis ErWesME, Position: WFS000572
Employee: XariEs, Cesar GiEvaWWi, Position: WFS000587
Employee: Xee, XaCar, Position: WFS000200
Employee: XiWW, JAsMiW, Position: WFS000462
Employee: ZaCEra, CigAeX, Position: WFS000499
Employee: ZaCEra, Edward, Position: WFS000477

# QUES 3

In [53]:
# Calculating the duration of each shift in hours
df['Shift Duration'] = (df['Time Out'] - df['Time']).dt.total_seconds() / 3600

# Filtering the DataFrame to include only rows where the shift duration is greater than 14 hours
filtered_df = df[df['Shift Duration'] > 14]

# Getting the unique employees who meets the criteria
unique_employees = filtered_df['Employee Name'].unique()

for employee in unique_employees:
    employee_data = filtered_df[filtered_df['Employee Name'] == employee]
    print(f"Employee: {employee}, Position: {employee_data['Position ID'].values[0]}, Shift Duration: {employee_data['Shift Duration'].values[0]:.2f} hours")

Employee: DeXgadiXXE REdarMe, ChrisMiaW S, Position: WFS000523, Shift Duration: 15.50 hours